@import 'variables';

$spotify-brand: 120px;
$menu-options: 150px;
$space-menus: 10px;
$footer-user: 70px;

$adjust-space-panel: cal($spotify-brand + $menu-options + $space-menus + $footer-user);

:host {
  max-width: 300px;
  min-height: 100vh;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  background-color: $purple;
  box-shadow: 1px 0px 15px #00000050;;

  .menus {
    flex-grow: 1;
    flex-direction: column;
    height: 100%;
    padding: 0px 40px 0px 40px;

    .image-container {
      min-height: $spotify-brand;

      img {
        width: 70%;
      }
    }

    .menu-container {
      // width: 100%;

      &.flex {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
      }

      &.options {
        min-height: $menu-options;
        * {
          margin-bottom: $space-menus;
        }
      }
    }
    .playlist-title {
      margin: 10px 0px;
      align-self: flex-start;
      font-weight: 700;
      font-size: .7rem;
      color: $orange;
    }

    .playlist-scroll {
      width: 100%;
      max-height: cal(95vh - $adjust-space-panel);
      overflow-y: auto;

      &::-webkit-scrollbar {
        display: none;
      }

      * {
        margin-bottom: $space-menus;
      }
    }
  }

  .info-user {
    flex-grow: 0;
    display: block;
    bottom: 0;
    align-self: flex-end;
    height: $footer-user;
    width: 100%;
  }
}
