@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans:wght@300;400;500&family=Raleway:wght@100&display=swap');
@import 'variables.scss';

html,
body {
  margin: 0;
  padding: 0;
  background-color: $purple;
}

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

.flex {
  display: flex;

  &-center {
    justify-content: center;
    align-items: center;
  }
}

.title {
  color: $green-spotify;
  display: block;
  font-weight: 700;

  &-bg {
    @extend .title;
    font-size: 2.2rem;
  }

  &-md {
    @extend .title;
    font-size: 1.4rem;
  }
}

.mt {
  @for $i from 1 to 10 {
    &-#{ $i } {
      margin-top: #{ $i }vh
    }
  }
}

.p-20 {
  padding: 20px;
}

.card {
  box-shadow: 0px 0px 15px $black-03;
  background-color: $purple;
  border-radius: 10px;
}